#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DEBUG_MODULE
	bool "Debug module"

module = DEBUG_MODULE
module-str = Debug module
source "subsys/logging/Kconfig.template.log_config"
